<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>header}}
    <main>
        {{>informacion}}
        {{>nuestros_productos}}
        {{>contactos}}
        {{>derechos_reservados}}
    </main> 
</body>
</html>