<section id="seccion_contactos">
            <h1 align="center">Contáctanos</h1>
            <p id="titulo" align="center"><img src="ubicacion.png" alt="Ubicación">Ubicación:<span>Calle Lalama y 12 de Noviembre </span></p> 
            <p id="titulo" align="center"> <img src="email.png" alt=""><strong>Email:</strong> <a href="mailto:contactos@el-palacio-del-mueble.com">contactos@el-palacio-del-mueble.com</a></p>
            <p id="titulo" align="center"><img src="telefono.png" alt=""><strong>Teléfono:</strong> <a href="tel:098 234 0228">(098) 234-0228</a></p>  
</section>