<header>
        <div class="portada">
            <div class="frases">
                <p><strong>Los muebles que tu hogar necesita</strong></p>
                <h1>"El mueble a tu medida"</h1>
                <button>EXPLORAR</button>
            </div>
        </div>
    </header>