<section id="section1">
          <div class="img"> <br></div> 
          <div class="texto">
              <p id="titulo">Acerca de Nosotros</p>
              <h2>El Palacio del Mueble </h2>
              <p>Somos una empresa dedicada a la elaboracion de todo tipo de muebles para su hogar dandole un realce en sus decoraciones <br> Realizamos muebles en los mejores materiales como madera y recubiertos de cuero o tapiz </p>
              <p>Nos destacamos por elaborar muebles con melamina que es una lámina sintética pegada sobre tableros de aglomerados <br> La melamina es resistente a la humedad, el vapor, agentes químicos, la eroción y el rayado lo cual hace que el costo baje <br> La melamina hace los muebles más faciles de limpiar y básicamente no necesitan mantenimiento </p>
              <button>MAS INFORMACION</button>
         </div>
</section>